<app-headerbackbutton></app-headerbackbutton>
<ion-content>
    <div class="container" >
        <app-formuser [data]="1" (sendDataUser)="getData($event)"></app-formuser>

    </div>
</ion-content>
<!-- </ion-content> -->