<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="backbutton" (click)="backClicked()">
                <ion-icon name="arrow-back"></ion-icon>{{'back' | translate}}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>