<ion-card class="card_custom d-flex align-items-center border_item ion-padding-top ion-padding-bottom">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="6" class="text_x5_black ion-text-start ion-padding-start">
                {{data[title]}}
            </ion-col>
            <ion-col size="6" class="align-items-center ion-text-end ion-padding-end">
                <ion-checkbox  (ionChange)="changeStatus($event)" color="primary"></ion-checkbox>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>

