<ion-content>
    <ion-grid fixed>
        <app-headerwelcome></app-headerwelcome>
        <app-cardnamehotel   [data]="propertySelect" (click)="openListProperties()"></app-cardnamehotel>
        <div  *ngIf="openproperties">
            <app-cardnamehotel   [data]="item"   *ngFor="let item of properties" (click)="SelectProperty(item)"></app-cardnamehotel>
        </div>
        <ion-row>
            <ion-col size="12" class="d-flex flex-wrap">
                <app-cardchoose class="col-lg-6" [class]="{'border_choose':choose.selected}" [data]="choose" (click)="Selected(choose,i)" *ngFor="let choose of chooses; let i = index"></app-cardchoose>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <app-cardnamehotel [data]="card2" (click)="gotoAdmin()"></app-cardnamehotel>
            </ion-col>
        </ion-row>
    </ion-grid>


