<ion-content>
    <div class="container">
        <app-headerbackbutton path='updateprofile'></app-headerbackbutton>
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12">
                    <h1 class="text_x15_blue">Alba</h1>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <h1 class="text_x12_blue">{{'choose_your_job' | translate}}</h1>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="d-flex flex-wrap">
                    <app-cardchoose class="col-lg-6" [class]="{'border_choose':choose.selected}" [data]="choose" (click)="Selected(choose,i)" *ngFor="let choose of chooses; let i = index"></app-cardchoose>
                </ion-col>
            </ion-row>
            <ion-row class="d-flex justify-content-center mb-4">
                <ion-col size="12" class="d-flex justify-content-center ">
                    <ion-button expand="block" class="btn_blue_white"  *ngIf="type==1" (click)="createProfile()">{{'create_profile' | translate}}</ion-button>
                    <ion-button expand="block" class="btn_blue_white"  *ngIf="type==2" (click)="updateProfile()">{{'update_profile' | translate}}</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>