<ion-card class="card_custom d-flex align-items-center border_item ion-padding-top ion-padding-bottom">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="6" class="text_x5_black ion-text-start ion-padding-start">
                {{title}}
            </ion-col>
            <ion-col size="6" class="align-items-center ion-text-end ion-padding-end">
                <ion-badge class="text_x5_blue badge_item" >{{badge}}</ion-badge>
                <!-- <ion-fab horizontal="end" vertical="center">
                    <ion-fab-button (click)="getData()" color="danger">
                      <ion-icon name="remove"></ion-icon>
                    </ion-fab-button>
                </ion-fab> -->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>

