<app-headerbackbutton></app-headerbackbutton>
<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h4 class="text_x10_blue">{{'manage_rooms' | translate }}</h4>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card class="pb-4">
        <ion-grid fixed [formGroup]="formRoom" class="mb-4">
            <ion-row>
                <ion-col size="12">
                    <h5 class="text_x5_black" *ngIf="!isUpdate">
                        {{'add_new_room' | translate }}
                    </h5>
                    <h5 class="text_x5_black" *ngIf="isUpdate">
                        {{'update_room' | translate }}
                    </h5>
                </ion-col>
                <ion-col size="12">
                    <ion-input formControlName="name"  ngDefaultControl  placeholder="example"  class="input-custom"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="d-flex justify-content-center mt-4 mb-4">
                <ion-col size="12" class="d-flex justify-content-center">
                    <ion-button expand="block" *ngIf="!isUpdate" class="btn_blue_white" [disabled]="formRoom.invalid"  (click)="addRoom()">{{'create' | translate}}
                    </ion-button>
                    <ion-button expand="block" *ngIf="isUpdate" class="btn_blue_white" [disabled]="formRoom.invalid"  (click)="updateRoom()">{{'update' | translate}}
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row class=" mt-4 mb-4"> 
                <ion-col size="12">
                    <ion-button class="btn_red_red" *ngIf="isUpdate" (click)="deteleRoom()">{{'delete_room' | translate}}</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>