<app-headerbackbutton></app-headerbackbutton>
<ion-content>
    <ion-grid fixed>
        <ion-row class="d-flex justify-content-center mt-2 mb-4">
          <ion-col size="12" class="phone_item">
            <div class="input-custom compuest_button_location" (click)="getCurrentPosition()">
                <ion-icon name="location" class="text_x5_blue"></ion-icon>
            </div>
            <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"  (onAddressChange)="handleAddressChange($event)"  formControlName="phone"  ngDefaultControl placeholder="{{'enter_address' | translate}}"  class="input-custom compuest_input_location"/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div id="map"></div>      
        </ion-col>
      </ion-row>
      <ion-row class="d-flex justify-content-center mt-4 mb-4" *ngIf="islocationselect">
        <ion-col size="12" class="d-flex justify-content-center">
            <ion-button expand="block" class="btn_blue_white"   (click)="gotoCreate()">{{'confirm' | translate}}
            </ion-button>
        </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>

 
  