<ion-content>
    <ion-grid fixed>
        <app-headerwelcome></app-headerwelcome>
        <app-cardnamehotel   [data]="propertySelect" (click)="openListProperties()"></app-cardnamehotel>
        <div  *ngIf="openproperties">
            <app-cardnamehotel   [data]="item"   *ngFor="let item of properties" (click)="SelectProperty(item)"></app-cardnamehotel>
        </div>
        <app-tabs [data]="tabs" (Change)="selectItem($event)"></app-tabs>
        <ion-row *ngIf="isTodo">
            <ion-col size="12">
                <app-carditemtodo [data]="i" type="admin" *ngFor="let i of items1"></app-carditemtodo>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isCompleted">
            <ion-col size="12">
                <app-cardcomplete [data]="i"  type="admin"  *ngFor="let i of items2"></app-cardcomplete>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isInventory">
            <ion-col size="12">
                <app-cardinventory [data]="i"  *ngFor="let i of items3" (getData)="getRoomInventory($event)"></app-cardinventory>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
