<app-headerbackbutton></app-headerbackbutton>
<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h1 class="text_x10_blue">{{ 'asign_room' | translate }}</h1>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-row>
            <ion-col size="12">
                <h4 class="text_x5_black">{{'search_by_identification' | translate}}</h4>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-input ngDefaultControl [(ngModel)]="code" placeholder="Identificación"
                    class="input-custom"></ion-input>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
    
                <ion-list>
                    <!-- <ion-list-header class="text_x5_black capitalize">
                        <h4 class="text_x5_black">{{'asgin_room' | translate}}</h4>
                    </ion-list-header> -->
                    <ion-item *ngFor="let u of users">
                        <ion-avatar slot="start">
                            <img class="img_profile" src="assets/img/img_profile.png" />
                        </ion-avatar>
                        <ion-label>
                            <h3 class="text_x3_black">{{u.name}}</h3>
                            <p>{{u.code}}</p>
                        </ion-label>
              
                        <ion-col size="4">
                            <ion-button (click)="gotoAsign(u)"  expand="block" class="btn_asign button_right" fill="clear" shape="round">
                                Asignar
                            </ion-button>
                        </ion-col>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>