<app-headerbackbutton></app-headerbackbutton>
<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h4 class="text_x10_blue">{{title | translate }}</h4>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="roomssection">
            <ion-col size="12">
                <app-cardmanage (click)="getRoom(r)"  class="mb-2" [data]="r" type="1" *ngFor="let r  of rooms"></app-cardmanage>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="protocolssection">
        <ion-col size="12" >
                <app-cardmanage (click)="getProtocol(p)"  class="mb-2" [data]="p" type="2" *ngFor="let p of protocols"></app-cardmanage>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
        <ion-fab-button class="button_fab_add" (click)="gotoCreate()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
