<!-- <ion-content> -->
    <div class="container logincomponent">
        <ion-grid>
            <ion-row>
                <ion-col size="12" class="d-flex justify-content-center">
                    <img class="img_phone" src="assets/img/blue_iphone_trasparent.png" />
                    <img class="img_background_phone" src="assets/img/Image_22.png" />
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="card-custom">
            <ion-grid [formGroup]="loginForm">
                <ion-row>
                    <ion-col size="12">
                        {{coordinates | json }}
                    </ion-col>
                </ion-row>
                <ion-row class="d-flex justify-content-center mt-4">
                    <ion-col size="12">
                        
                        <ion-input placeholder="{{'identificacion_number' | translate}}" formControlName="code" ngDefaultControl class="input-custom"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row class="d-flex justify-content-center mt-1">
                    <ion-col size="12">
                        <ion-input placeholder="{{'password' | translate}}" formControlName="password"  ngDefaultControl class="input-custom"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row class="d-flex justify-content-center">
                    <ion-col size="12">
                        <ion-item lines="none">
                            <ion-label class="label_blue">{{'forgot_password' | translate}}</ion-label>
                          </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="d-flex justify-content-center">
                    <ion-col size="6" class="d-flex justify-content-center">
                        <ion-button (click)="createProfile()" expand="block" class="btn_white_blue">{{'create' | translate}}</ion-button>
                    </ion-col>
                    <ion-col size="6" class="d-flex justify-content-center">
                        <ion-button  expand="block" class="btn_blue_white"  [disabled]="loginForm.invalid" (click)="login()">{{'login' | translate}}</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
<!-- </ion-content> -->