<app-headerbackbutton></app-headerbackbutton>
<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h1 class="text_x10_blue">Staff Reports</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="d-flex flex-wrap">
                <app-cardchoose class="col-lg-6" [class]="{'border_choose':choose.selected}" [data]="choose" (click)="Selected(choose,i)" *ngFor="let choose of chooses; let i = index"></app-cardchoose>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>