<ion-card class="card_custom d-flex align-items-center border_item mt-2 mb-2">
    <div class="w_10 text_x5_black">
        {{data.number}}
    </div>
    <div class="w_90 d-flex justify-content-center align-items-center">
        <img class="img_profile" src="{{data.img}}" />
        <span class="text_x5_black">{{data.name}}</span>
    </div>
    <div class="w_10 align-items-center">
        <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
            Click me
        </ion-button>
    </div>
</ion-card>
