<app-headerbackbutton></app-headerbackbutton>
<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h4 class="text_x10_blue">{{ "managestaff" | translate }}</h4>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list *ngFor="let p of properties" >
        <ion-list-header class="text_x5_black capitalize">
            {{p.name | translate }}
        </ion-list-header>

        <ion-item *ngFor="let s of p.staff">
            <ion-avatar slot="start">
                <img class="img_profile" src="assets/img/img_profile.png" />
            </ion-avatar>
            <ion-label>
                <h3 class="text_x3_black">{{s.name}}</h3>
                <p>{{s.code}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-button expand="block" class="btn_blue_white" (click)="addStaffMember()">
        <div class=" w_100 d-flex justify-content-center">
            {{ "add_staff_member" | translate }}
        </div>
    </ion-button>
</ion-content>