.container{
    background-color: #c4d5e1!important;
    height: 100%;
    width: 100%;
}
.logincomponent{
    display: flex;
    align-items: flex-end;
    .card-custom{
        background-color: #ffffff;
        padding-top: 5%;
        padding-left: 3%;
        padding-right: 3%;
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding-bottom: 10%;
        
        .input-custom{
            color: #ada6a6;;
            background: #ffffff;
            // width: 90%;
            margin: 0 auto;
            font-weight: bold;
            // height: 45px;
            padding-left: 20px !important;
            display: flex;
            border-radius: 13px;
            box-shadow:  4px 3px 10px rgba(0, 0, 0, 0.02), 0 5px 13px rgba(0, 0, 0, 0.12);
        }

    }
}
ion-label.label_blue{
    --color:#4f7ba7;
    font-weight:bold;
}
ion-button.btn_blue_white{
    --background:#4f7ba7;
    --border-radius:40px;
    --padding-bottom:25px;
    --padding-top:25px;
    width: 100%;
    --box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.02), 0 5px 13px rgba(0, 0, 0, 0.12);
}
ion-button.btn_white_blue{  
    --background:#ffffff;
    --color:#4f7ba7;
    --border-radius:40px;
    --padding-bottom:25px;
    --padding-top:25px;
    width: 100%;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
ion-label.label_blue{
    --color:#4f7ba7;
    font-weight:bold;
}
.mt-1{
    margin-top: 0.25rem;         
  }
  .mt-2{
    margin-top: 0.5rem;         
  }
  .mt-3{
    margin-top: 0.75rem;         
  }
  .mt-4{
    margin-top: 1rem;         
  }
  
  .d-flex{
      display: flex !important;
  }
  .justify-content-center{
      justify-content: center !important;
  }
  
  