<ion-card class="card_custom d-flex align-items-center border_item mt-2 mb-2">
    <div class="w_20 text_x5_black">
        {{data.number}}
    </div>
    <div class="w_80 d-flex justify-content-start align-items-center">
        <img class="img_profile" src="{{data.img}}" />
        <span class="text_x5_black">{{data.name}}</span>
    </div>
    <div class="w_20 d-flex align-items-center justify-content-center">
        <ion-badge [class]="{'hour_badge_red':type=='home','hour_badge_blue':type=='admin'}">4:26</ion-badge>
    </div>
</ion-card>
