<ion-row>
    <ion-col size="9">
        <h1 class="title">Alba</h1>
    </ion-col>
    <ion-col size="3" class="d-flex justify-content-center">
        <img (click)="gotoProfile()" class="img_profile" *ngIf="!hasImg" src="assets/img/img_profile.png" />
        <div (click)="gotoProfile()" class="img_profile" *ngIf="hasImg" class="img_avatar"  [ngStyle]="{'background-image':'url(' + user.img + ')'}">
        </div>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col size="9">
        <h4 class="text_x5_black mb-2 w_100">Buenos dias</h4>
        <h4 class="text_x5_blue w_100">{{user.name}}  {{user.last_name}}</h4>
    </ion-col>
    <ion-col size="3">
        <h4 class="d-flex justify-content-center text_x5_black mb-2 w_100">{{rol}}</h4>
        <h4 class="d-flex justify-content-center text_x5_blue w_100">June</h4>
    </ion-col>
</ion-row>