<app-headerbackbutton></app-headerbackbutton>
<ion-content>
    <ion-grid fixed [formGroup]="createpropertyform">
        <ion-row class="d-flex justify-content-center mt-2">
            <ion-col size="12">
                <ion-input ngDefaultControl formControlName="name" placeholder="{{'name' | translate}}" class="input-custom">
                </ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="pt-4">
                <ion-item  class="input-custom">
                    <ion-label>{{'type_property' | translate}}</ion-label>
                    <ion-select ngDefaultControl (ionChange)="changeSelect($event)"  formControlName="id_property_type" placeholder="{{ 'select_placeholder' | translate }}">
                      <ion-select-option value="1">{{'hotel' | translate}}</ion-select-option>
                      <ion-select-option value="2">{{'aparment' | translate}}</ion-select-option>
                    </ion-select>
                  </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button expand="block" class="btn_white_blue " 
                    (click)="chooseLocation()">
                    <div class=" w_100 d-flex justify-content-start">
                        <ion-icon name="locate"></ion-icon> {{createpropertyform.value.address}}
                    </div>
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12" class="d-flex justify-content-center" >
                <img src="assets/img/hotel.svg" class="img_hotel" />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button expand="block" class="btn_blue_white" 
                    (click)="createProperty()"  [disabled]="createpropertyform.invalid">
                    <div class=" w_100 d-flex justify-content-center">
                        {{'create_property' | translate}}
                    </div>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>