<app-headerbackbutton></app-headerbackbutton>
<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h1 class="text_x12_blue">Reportar Problema</h1>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card class="m-0">
        <ion-card-header>
            <!-- <ion-card-title class="d-flex justify-content-center">
                <h4 class="text_x12_black">Awesome Title</h4>
            </ion-card-title> -->
        </ion-card-header>
        <ion-card-content>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="12">
                        <ion-textarea rows="6" class="text_area_custom" cols="20" placeholder="Describe el problema aqui"></ion-textarea>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-button  expand="block" class="btn_white_blue text_x4_blue">{{'login' | translate}}</ion-button>
                    </ion-col>
                    <ion-col size="12">
                        <div class="h_300">

                        </div>
                    </ion-col>
                    <ion-col size="12" class="pb-4">
                        <ion-button  expand="block" class="btn_blue_white">{{'login' | translate}}</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
