<ion-card class="card_custom">
    <ion-card-header>
        <p class="text_x5_blue">{{data.title | translate}}</p>
    </ion-card-header>
    <div class="img_container">
        <img class="img_card" *ngIf="data.img != ''" src="{{data.img}}" />
    </div>
</ion-card>