.img_container{
    display: flex;
    justify-content: flex-end;
    margin-right: -4px;
    margin-bottom: -9px;
}
ion-card{
    border-radius: 20px;
}


.border_choose{
    border: solid 1px var(--blue_text_alba);
    border-radius: 20px;
}
