<ion-row>
    <ion-col size="12" class="mt-4">
        <ion-tabs>
            <ion-tab-bar slot="bottom">
              <ion-tab-button  [class]="{'border_tab':tab.selected}"    *ngFor="let tab of tabs; let i = index"  tab="schedule" (click)="clickTab(tab,i)">
                <ion-label class="text_x4_blue">{{tab.name | translate}}</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
    </ion-col>
</ion-row>
