<ion-grid *ngIf="ischarge"> 
    <ion-row>
        <ion-col size="12" class="d-flex justify-content-center ">
            <h1 class="text_x15_blue" *ngIf="data==1" >{{'create_my_profile' | translate}}</h1>
            <h1 class="text_x15_blue" *ngIf="data==2" >{{'update_my_profile' | translate}}</h1>
        </ion-col>
    </ion-row>
    <form [formGroup]="registeredForm">

        <ion-row>
            <ion-col size="12" class="d-flex justify-content-center">
                <input
                type="file"
                #fileInput
                (change)="uploadFile($event)"
                hidden="true"
                accept="image/*"
              />
                <img  (click)="selectImageSource()" id="myimage"class="img_phone" [src]="srcImg" />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="d-flex justify-content-center">
                <h5 class="text_x6_blue">{{'change_profile_image' | translate}}</h5>
            </ion-col>
        </ion-row>
        <ion-row class="d-flex justify-content-center mt-2">
            <ion-col size="6">
                <ion-input  ngDefaultControl formControlName="name" placeholder="{{'first_name' | translate}}"  class="input-custom"></ion-input>
            </ion-col>
            <ion-col size="6">
                <ion-input  ngDefaultControl formControlName="last_name"  placeholder="{{'last_name' | translate}}"  class="input-custom"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="d-flex justify-content-center mt-2" *ngIf="data==1">
            <ion-col size="12">
                <ion-input  ngDefaultControl formControlName="password" placeholder="{{'password' | translate}}"  class="input-custom"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="d-flex justify-content-center mt-2">
            <ion-col size="12">
                <ion-input  ngDefaultControl formControlName="code" placeholder="{{'identificacion_number' | translate}}"  class="input-custom"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="d-flex justify-content-center mt-2">
            <ion-col size="12" class="phone_item">
                <div class="input-custom compuest_button_phone">
                    <img class="img_phone" src="assets/img/colombia_flag.png" />
                    <span>+ 57</span>
                    <ion-icon name="chevron-down-outline"></ion-icon>
                </div>
                <ion-input  formControlName="phone"  ngDefaultControl placeholder="{{'phone' | translate}}"  class="input-custom compuest_input_phone"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="d-flex justify-content-center mt-4 mb-4">
            <ion-col size="12" class="d-flex justify-content-center">
                <ion-button expand="block" class="btn_blue_white" [disabled]="registeredForm.invalid"  (click)="sendData()">{{'next' | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-grid>