<app-headerbackbutton></app-headerbackbutton>
<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h1 class="text_x12_blue">{{'choose_your_job' | translate}}</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle class="text_x5_blue">Nota</ion-card-subtitle>
                        <ion-card-title>{{protocolByRoom.admin_comment}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <app-cardcheck title="name"  (getDataEmit)="getChangeStatus($event)" class="mb-2" [data]="p" class="check_card_custom" type="2" *ngFor="let p of protocols"></app-cardcheck>
        <ion-row>
            <ion-col size="12">
                <ion-card class="d-flex justify-content-center">
                    <h4 class="text_x7_blue pt-4 pb-4">0:03</h4>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-button class="btn_red_red" (click)="gotoReportIssue()">
                    Report Issue
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button class="btn_blue_white" (click)="gotoHome()">
                    Finished
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>