<ion-card class="card_custom d-flex">
    <div class="w_70 d-flex justify-content-center align-items-center">
        <p class="text_x8_blue">{{data.name}}</p>
    </div>
    <div class="img_container w_30">
        <img src="{{data.img}}" />
    </div>
</ion-card>