<app-headerbackbutton></app-headerbackbutton>
<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h1 class="text_x12_blue">Confirmar Habitación</h1>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card class="m-0">
        <ion-card-header>
            <!-- <ion-card-title class="d-flex justify-content-center">
                <h4 class="text_x12_black">Awesome Title</h4>
                {{room | json }}
            </ion-card-title> -->
        </ion-card-header>
        <ion-card-content>
            <ion-grid fixed [formGroup]="formConfirmRoom">
                <ion-row>
                    <ion-col size="12" class="pt-4">
                        <ion-item class="input-custom">
                            <ion-label>{{'type_property' | translate}}</ion-label>
                            <ion-select (ionChange)="changeSelect($event)" formControlName="id_cleaning_type"
                                ngDefaultControl placeholder="{{ 'select_placeholder' | translate }}">
                                <ion-select-option *ngFor="let type of typeCleaning" [value]="type.id_cleaning_type">
                                    {{type.name}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-textarea rows="6" formControlName="admin_comment" ngDefaultControl class="text_area_custom"
                            cols="20"  placeholder="Describe el problema aqui">
                        </ion-textarea>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-button expand="block" class="btn_blue_white" (click)="asignRoom()">{{'login' | translate}}
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>