ion-button.btn_white_blue{
    --border-radius: 15px;
}
ion-button.btn_blue_white{
    --border-radius: 15px;
    margin-bottom: 30px;
}
ion-card{
    position: fixed;
    width: 100%;
    bottom: 0;
}
ion-card{
    height: 80%;
}