<ion-content>
    <ion-grid fixed>
        <app-headerwelcome></app-headerwelcome>
        <app-cardnamehotel  [data]="cardName"></app-cardnamehotel>
        <ion-row *ngIf="isStart">
            <ion-col size="3">
                <ion-button expand="block" class="btn_red_red" (click)="changeStatus(isStart)">
                    {{'stop' | translate}}
                </ion-button>
            </ion-col>
            <ion-col size="9">
                <ion-button  expand="block" class="btn_white_blue_cronometer">01:31:09</ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!isStart && scheduleStatus == 0">
            <ion-col size="6">
                <ion-button expand="block" class="btn_green_green" (click)="changeStatus(isStart)">
                    {{'start' | translate}}
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button  expand="block" class="btn_white_blue_cronometer">00:00:00</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <app-tabs [data]="tabs" (Change)="selectItem($event)"></app-tabs>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isTodo">
            <ion-col size="12">
                <app-carditemtodo [data]="i" type="home" (getData)="getDataTodoItem($event)"  *ngFor="let i of items1"></app-carditemtodo>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isCompleted">
            <ion-col size="12">
                <app-cardcomplete [data]="i"  type="home"  *ngFor="let i of items2"></app-cardcomplete>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isInventory">
            <ion-col size="12">
                <app-cardhours [data]="i"  *ngFor="let i of items3"></app-cardhours>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>