<ion-card class="card_custom d-flex align-items-center border_item mt-2 mb-2 pt-4 pb-4">
    <div class="w_20 text_x5_blue">
        Mon
    </div>
    <div class="w_60 d-flex justify-content-center align-items-center">
        <span class="text_x5_black">June 15th</span>
    </div>
    <div class="w_20 d-flex align-items-center justify-content-center">
        <ion-badge class="hour_badge_blue ">4:26</ion-badge>
    </div>
</ion-card>
