<ion-card class="card_custom d-flex align-items-center border_item mt-2 mb-2 pt-4 pb-4">
    <div class="w_40 text_x5_black">
        {{data.name}}
    </div>
    <div class="w_20">

    </div>
    <div class="w_40 d-flex align-items-center justify-content-end pr-2">
        <ion-button (click)="acceptItem()"  expand="block" class="btn_asign" fill="clear" shape="round">
            Asignar
        </ion-button>
    </div>
</ion-card>
