/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@mixin textBoldAlba($font-size,$color) {
    font-size: $font-size;
    font-weight: bold;
    white-space: pre;
    color: $color;
}

.container{
    background-color:var(--blue_background_alba) !important;
    height: 100%;
    width: 100%;
}
.input-custom{
    color: #ada6a6;;
    background: #ffffff;
    // width: 90%;
    margin: 0 auto;
    font-weight: bold;
    height: 55px;
    padding-left: 20px !important;
    display: flex;
    border-radius: 13px;
    box-shadow:  4px 3px 10px rgba(0, 0, 0, 0.02), 0 5px 13px rgba(0, 0, 0, 0.12);
}
.text_area_custom{
    color: #ada6a6;;
    background: #ffffff;
    margin: 0 auto;
    font-weight: bold;
    display: flex;
    border-radius: 13px;
    box-shadow:  4px 3px 10px rgba(0, 0, 0, 0.02), 0 5px 13px rgba(0, 0, 0, 0.12);
}
.action_sheet_custom .action-sheet-group {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.btn_blue_white_action_sheet {
    margin-bottom: 14px;
    height: 60px !important; 
}
.btn_blue_white_action_sheet span {
    background:var(--blue_alba);
    color:var(--white_alba);
    justify-content: center !important;
    border-radius:18px;
    padding-bottom:30px;
    padding-top:30px;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.02), 0 5px 13px rgba(0, 0, 0, 0.12);
}

ion-button.btn_blue_white{
    --background:var(--blue_alba);
    --border-radius:40px;
    --padding-bottom:30px;
    --padding-top:30px;
    width: 100%;
    --box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.02), 0 5px 13px rgba(0, 0, 0, 0.12);
}
ion-button.btn_white_blue{  
    --background:var(--white_alba);;
    --color:var(--blue_alba);
    --border-radius:40px;
    --padding-bottom:30px;
    --padding-top:30px;
    width: 100%;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
ion-button.btn_white_blue_cronometer{  
    --background: var(--white_alba);
    --color: var(--blue_alba);
    --border-radius: 15px;
    font-weight: bold;
    --padding-bottom: 30px;
    --padding-top: 30px;
    width: 100%;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
ion-button.btn_acept{  
    --background: var(--green_alba_light);
    --color: var(--green_alba);
    --border-radius: 5px;
    --padding-bottom: 15px;
    --padding-top: 15px;
    width: 80%;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
ion-button.btn_notify{  
    --background: var(--red_alba_light);
    --color: var(--red_alba);
    --border-radius: 5px;
    --padding-bottom: 15px;
    --padding-top: 15px;
    width: 80%;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
ion-button.btn_asign{  
    --background: var(--blue_background_badge_alba);
    --color: var(--blue_alba);
    --border-radius: 5px;
    --padding-bottom: 15px;
    --padding-top: 15px;
    width: 80%;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
ion-button.btn_green_green{  
    --background: var(--green_alba_light);
    --color: var(--green_alba);
    --border-radius: 15px;
    --padding-bottom: 30px;
    --padding-left: 10px;
    --padding-right: 10px;
    --padding-top: 30px;
    width: 100%;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

ion-button.btn_red_red{  
    --background: var(--red_alba_light);
    --color: var(--red_alba);
    --border-radius: 15px;
    --padding-bottom: 30px;
    --padding-top: 30px;
    --padding-left: 10px;
    --padding-right: 10px;
    width: 100%;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
ion-label.label_blue{
    --color: var(--blue_alba) !important;
    font-weight:bold;
}
ion-button.backbutton{
    --color : var(--blue_alba) !important;
    text-transform: capitalize;
    @include textBoldAlba(17px,var(--blue_alba));
}
.mt-1{
    margin-top: 0.25rem;         
}
.mt-2{
    margin-top: 0.5rem;         
}
.mt-3{
    margin-top: 0.75rem;         
}
.mt-4{
    margin-top: 1rem;         
}
.mb-1{
    margin-bottom: 0.25rem;         
}
.mb-2{
    margin-bottom: 0.5rem;         
}
.mb-3{
    margin-bottom: 0.75rem;         
}
.mb-4{
    margin-bottom: 1rem;         
}
.pt-1{
    padding-top: 0.25rem;         
}
.pt-2{
    padding-top: 0.5rem;         
}
.pt-3{
    padding-top: 0.75rem;         
}
.pt-4{
    padding-top: 1rem;         
}
.pt-5{
    padding-top: 1.25rem;         
}
.pt-6{
    padding-top: 1.5rem;         
}
.pb-1{
    padding-bottom: 0.25rem;         
}
.pb-2{
    padding-bottom: 0.5rem;         
}
.pb-3{
    padding-bottom: 0.75rem;         
}
.pb-4{
    padding-bottom: 1rem;         
}
.pb-5{
    padding-bottom: 1.25rem;         
}
.pb-6{
    padding-bottom: 1.5rem;         
}
.pl-1{
    padding-left: 0.25rem;         
}
.pl-2{
    padding-left: 0.5rem;         
}
.pl-3{
    padding-left: 0.75rem;         
}
.pl-4{
    padding-left: 1rem;         
}
.pl-5{
    padding-left: 1.25rem;         
}
.pl-6{
    padding-left: 1.5rem;         
}
.pr-1{
    padding-right: 0.25rem;         
}
.pr-2{
    padding-right: 0.5rem;         
}
.pr-3{
    padding-right: 0.75rem;         
}
.pr-4{
    padding-right: 1rem;         
}
.pr-5{
    padding-right: 1.25rem;         
}
.pr-6{
    padding-right: 1.5rem;         
}
.d-flex{
    display: flex !important;
}
.justify-content-center{
    justify-content: center !important;
}
.align-items-center{
    align-items: center !important;
}
ion-toolbar{
    // --opacity:0;
    --background:#D6EBFA;
}
ion-label.label_blue{
    --color:#4f7ba7;
    font-weight:bold;
}

ion-tab-button{
    --background: var(--blue_background_alba) !important;
}

.img_card{
    width: 80px;
    height: 120px;
    padding-right: 3px;
}

.img_phone{
    width: auto;
    height: auto;
    padding-right: 3px;
}


.title{
  @include textBoldAlba(39px,var(--blue_alba));
}
.change_profile_text{
    @include textBoldAlba(22px,var(--blue_alba));
}
.title_choose{
    @include textBoldAlba(34px,var(--blue_alba));
}

.title_cardchoose{
    @include textBoldAlba(20px,var(--blue_alba));
}

.text_x1_blue{
    @include textBoldAlba(10px,var(--blue_alba));
}
.text_x2_blue{
    @include textBoldAlba(12px,var(--blue_alba));
}

.text_x3_blue{
    @include textBoldAlba(14px,var(--blue_alba));
}
.text_x4_blue{
    @include textBoldAlba(16px,var(--blue_alba));
}
.text_x4_blue{
    @include textBoldAlba(18px,var(--blue_alba));
}
.text_x5_blue{
    @include textBoldAlba(20px,var(--blue_alba));
}
.text_x6_blue{
    @include textBoldAlba(22px,var(--blue_alba));
}
.text_x7_blue{
    @include textBoldAlba(24px,var(--blue_alba));
}
.text_x8_blue{
    @include textBoldAlba(26px,var(--blue_alba));
}
.text_x9_blue{
    @include textBoldAlba(28px,var(--blue_alba));
}

.text_x10_blue{
    @include textBoldAlba(30px,var(--blue_alba));
}

.text_x11_blue{
    @include textBoldAlba(32px,var(--blue_alba));
}

.text_x12_blue{
    @include textBoldAlba(34px,var(--blue_alba));
}

.text_x13_blue{
    @include textBoldAlba(36px,var(--blue_alba));
}

.text_x14_blue{
    @include textBoldAlba(38px,var(--blue_alba));
}

.text_x15_blue{
    @include textBoldAlba(40px,var(--blue_alba));
}


.text_x1_black{
    @include textBoldAlba(10px,--black_text_alba);
}
.text_x2_black{
    @include textBoldAlba(12px,--black_text_alba);
}
.text_x3_black{
    @include textBoldAlba(14px,--black_text_alba);
}
.text_x4_black{
    @include textBoldAlba(16px,--black_text_alba);
}
.text_x4_black{
    @include textBoldAlba(18px,--black_text_alba);
}
.text_x5_black{
    @include textBoldAlba(20px,--black_text_alba);
}
.text_x6_black{
    @include textBoldAlba(22px,--black_text_alba);
}
.text_x7_black{
    @include textBoldAlba(24px,--black_text_alba);
}
.text_x8_black{
    @include textBoldAlba(26px,--black_text_alba);
}
.text_x9_black{
    @include textBoldAlba(28px,--black_text_alba);
}
.text_x10_black{
    @include textBoldAlba(30px,--black_text_alba);
}
.text_x11_black{
    @include textBoldAlba(32px,--black_text_alba);
}
.text_x12_black{
    @include textBoldAlba(34px,--black_text_alba);
}
.text_x13_black{
    @include textBoldAlba(36px,--black_text_alba);
}
.text_x14_black{
    @include textBoldAlba(38px,--black_text_alba);
}
.text_x15_black{
    @include textBoldAlba(40px,--black_text_alba);
}

.col-lg-6{
    width: 50%;
    float: left;
}
ion-content{
    --background:var(--blue_background_alba) !important;
}
.border_choose  .card_custom {
    border: solid 5px var(--blue_alba);
    border-radius: 20px;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-start{
    justify-content: flex-start;
}
.w_10{
    width: 10%;
}
.w_20{
    width: 20%;
}
.w_30{
    width: 30%;
}
.w_40{
    width: 40%;
}
.w_50{
    width: 50%;
}
.w_60{
    width: 60%;
}
.w_30{
    width: 30%;
}
.w_70{
    width: 70%;
}
.w_80{
    width: 80%;
}
.w_90{
    width: 90%;
}
.w_100{
    width: 100%;
}
.img_container{
    display: flex;
    justify-content: flex-end;
    margin-right: -4px;
    margin-bottom: -9px;
}
ion-card{
    border-radius: 20px;
}
ion-tab-bar{
    --background : solid var(--blue_background_alba)
}

.border_choose{
    border: solid 1px var(--blue_alba);
    border-radius: 20px;
}

.border_tab{
    border-bottom: solid var(--blue_alba);
}
.border_item{
    border-left: solid  7px var(--border_item);
}
.border_item_red{
    border-left: solid  7px var(--red_alba);
}
.m-0{
    margin:0;
}
.badge_item{
    border-radius: 20px;
    --background: var(--blue_background_alba);
    padding: 10px;
}

@mixin buttonCompuest($width) {
    width: $width;
    position: absolute;
    margin-left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
}

@mixin inputCompuest($padding) {
    width: 100%;
    color: #ada6a6;
    position: relative;
    left: 0%;
    right: 0 !important;
    z-index: 0;
    padding-left: $padding !important;
}

.compuest_button_phone{
 @include buttonCompuest(31%);
 
}
.compuest_button_location{
 @include buttonCompuest(15%);
 box-shadow:  none;
}
.compuest_input_phone{
    @include inputCompuest(35%);
}
.compuest_input_location{
    @include inputCompuest(20%);
    border: none;
}

.img_hotel{
    height: 100%;
    padding-top: 30px;
}
.button_fab_add{
    --background: var(--blue_alba);
}
.card-cronometer{
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 5px;
}
.pac-item-query, .pac-item{
    font-size: 16px;
}


.btn_green_green span{  
    background: var(--green_alba_light);
    color: var(--green_alba);
    border-radius: 15px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.btn_red_red span{  
    background: var(--red_alba_light);
    color: var(--red_alba);
    border-radius: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.action_sheet_custom_accept .action-sheet-group{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    button{
        height: 65px;
        width: 50%;
        float: left;
    }
}
ion-checkbox.check_card_custom{
    --border-radius:50px;
}

.h_300{
    height:300px;
}
ion-badge.hour_badge_blue{
    --background:var(--blue_background_badge_alba);
    --color:var(--blue_alba);
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    border-radius: 10px;
}
ion-badge.hour_badge_red{
    --background:var(--red_alba_light);
    --color:var(--red_alba);
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    border-radius: 10px;
}
.text_elipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}