<app-headerbackbutton path='managestaff'></app-headerbackbutton>
<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h1 class="text_x10_blue">{{ 'managestaff' | translate }}</h1>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-row>
            <ion-col size="12">
                <h4 class="text_x5_black">{{'search_by_identification' | translate}}</h4>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-input ngDefaultControl [(ngModel)]="code" placeholder="Identificación"
                    class="input-custom"></ion-input>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-list>
                    <ion-list-header class="text_x5_black capitalize">
                        <h4 class="text_x5_black">{{'add_staff_member' | translate}}</h4>
                    </ion-list-header>
                    <ion-item *ngFor="let u of users | filter: 'code': code">
                        <ion-avatar slot="start">
                            <img class="img_profile" src="assets/img/img_profile.png" />
                        </ion-avatar>
                        <ion-label>
                            <h3 class="text_x3_black">{{u.name}}</h3>
                            <p>{{u.code}}</p>
                        </ion-label>
                        <ion-fab class="button_right">
                            <ion-fab-button class="button_fab_add  " (click)="addMember(u)">
                                <ion-icon name="add"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>