<app-headerbackbutton></app-headerbackbutton>
<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h4  class="text_x10_blue">{{'manage_protocols' | translate}}</h4>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card>
        <ion-grid fixed [formGroup]="formProtocol" class="mb-4">
            <ion-row>
                <ion-col size="12">
                    <h5 class="text_x5_black" *ngIf="!isUpdate">
                        {{'add_new_protocolo' | translate}}
                    </h5>
                    <h5 class="text_x5_black" *ngIf="isUpdate">
                        {{'update_protocolo' | translate}}
                    </h5>
                </ion-col>
                <ion-col size="12">
                    <ion-input formControlName="name"  ngDefaultControl  placeholder="{{'nameprotocol' | translate}}"  class="input-custom"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="d-flex justify-content-center mt-4 mb-4">
                <ion-col size="12" class="d-flex justify-content-center">
                    <ion-button expand="block" *ngIf="!isUpdate" class="btn_blue_white" [disabled]="formProtocol.invalid"  (click)="addProtocol()">   {{'create' | translate}}
                    </ion-button>
                    <ion-button expand="block" *ngIf="isUpdate" class="btn_blue_white" [disabled]="formProtocol.invalid"  (click)="updateProtocol()">   {{'update' | translate}}
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row class=" mt-4 mb-4"> 
                <ion-col size="12">
                    <ion-button class="btn_red_red" *ngIf="isUpdate" (click)="deteleProtocol()">{{'delete_room' | translate}}</ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-card>
</ion-content>