<ion-card  [class]="{'border_item':data.color=='blue','border_item_red':data.color=='red'}" class="card_custom d-flex align-items-center border_item mt-2 mb-2">
    <div class="w_20 text_x5_black d-flex justify-content-center">
        {{data.room.name}}
    </div>
    <div class="w_20 d-flex justify-content-start align-items-center" *ngIf="isDefined">
        <div class="img_avatar "  [ngStyle]="{'background-image':'url(' + data.user.img + ')'}">

        </div>
    </div>
    <div class="w_40">
        <p class="text_x5_black text_elipsis">{{data.user.name }}</p>
    </div>
    <div class="w_40 d-flex align-items-center justify-content-end pr-1" *ngIf="isDefined">
        <ion-button (click)="acceptItem()" *ngIf="data.id_schedule_state == 1 && type=='home'" expand="block" class="btn_acept " fill="clear" shape="round">
            Accept
        </ion-button>
        <ion-button (click)="acceptItem()" *ngIf="data.accept && type=='admin'" expand="block" class="btn_notify" fill="clear" shape="round">
            <ion-icon name="notifications-outline"></ion-icon>
            Notificar
        </ion-button>
        <ion-badge class="hour_badge_blue" *ngIf="data.id_schedule_state == 3">4:26</ion-badge>
    </div>
</ion-card>
